body{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  /* background-color:rgb(38, 38, 94); */
}
p{
  font-size: 36px;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}


.hover-area {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  font-size: 24px;
  display: flex;
  align-items: center;
  background-image: url('https://i.redd.it/qsav2l5ias951.jpg'); 
  background-size: cover;
}

.list {
  list-style-type: none;
  width: 20vw;
  padding: 0;
  margin: 0;
}

.list li {
  margin: 5px 0;
}

a{
  color: whitesmoke;
}

.back-top-buttom {
  position: fixed;
  bottom: 2rem;
  right:2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 11, 24);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.back-top-buttom span{
  color: #fff;
  transition: 0.2s ease-out;
}
.back-top-buttom:hover {
  background-color: rgb(208, 208, 233);
}

.back-top-buttom:hover span {
  transform: translateY(-4px);
}